/*é¦–é¡µåˆ†ç±»æ ‘æ ·å¼*/

.site-category-list {
    height: 420px;
    border: 0;
    color: #fff;
    background: #333;
    background: rgba(0, 0, 0, 0.6);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#99000000", endColorstr="#99000000")\9;
}

.site-category-list .title {
    color: #fff;
}

.site-category-list .title i {
    color: #fff;
    color: rgba(255, 255, 255, 0.5);
}


/* å›¢è´­åˆ—è¡¨é¡µé¢ */

.group_wrap {
    margin: 0 0 50px 0;
}

.group_wrap h2 {
    height: 65px;
    line-height: 51px;
    font-size: 18px;
    font-weight: 100;
    color: #333;
}

.group_wrap .top-pic {
    margin-bottom: 39px;
}

.temai_list {
    margin: 10px 0;
}

.temai_list,
.temai_list li {
    list-style: none;
    margin: 0;
}

.temai_list {
    *zoom: 1;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
}

.temai_list li {
    width: 357px;
    height: 221px;
    float: left;
    padding: 60px 0 0 50px;
    position: relative;
    *display: inline;
    zoom: 1;
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}

.temai_list li .pic {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 192px;
}

.temai_list li h3 {
    color: #333333;
    font-size: 24px;
    font-weight: normal;
}

.temai_list li .group {
    color: #8c8c8c;
    font-size: 13px;
    padding: 10px 0 15px 0;
}

.temai_list li .price span {
    color: #ff4a00;
}

.temai_list li .price span b {
    font-size: 24px;
}

.temai_list li .price del {
    color: #999;
    font-size: 14px;
}


/* å›¢è´­è¯¦æƒ…é¡µé¢ */

#wrapper .box {
    background: #fff;
    padding-bottom: 2px;
    overflow: hidden;
}

#wrapper .box_1 {
    border: 1px solid #eee;
    background-color: #fff;
}

#wrapper h3 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #1e1e1e;
    font-family: "\5fae\8f6f\96c5\9ed1";
    line-height: 40px;
    padding-right: 20px;
    font-weight: 400;
}

#wrapper h3 span {
    margin-left: 15px;
    float: left;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    color: #333;
    padding-left: 0px;
}

#wrapper .boxCenterList {
    padding: 8px;
}

#wrapper .boxCenterList ul {
    height: 1%;
    margin-bottom: 5px;
}

#wrapper .boxCenterList li {
    float: left;
    width: 540px;
}

#wrapper .group li {
    float: left;
    background: #fff;
    padding: 5px;
}

#wrapper .boxCenterList li a {
    color: #3f3f3f;
    text-decoration: none;
}

#wrapper .f5 {
    font-size: 14px;
    font-weight: bold;
}

#wrapper th,
td {
    margin: auto;
    padding: auto
}

#wrapper table td {
    padding: 5px;
    border: 1px solid #eee;
    padding: 5px 10px;
}

#wrapper table th {
    padding: 5px;
    border: 1px solid #eee;
    padding: 5px 10px;
}

#wrapper .blank5 {
    height: 5px;
    line-height: 5px;
    _margin: -3px 0;
    clear: both;
    visibility: hidden;
}

#wrapper h5 {
    height: 40px;
    line-height: 40px;
    background-color: #FFF;
    font-size: 18px;
    color: #333;
    padding: 0 10px 0 0;
}

h5 span {
    float: left;
    font-weight: bold;
    font-size: 18px;
    padding-left: 0px;
}

#wrapper .group .title {
    margin: 0 0 10px 0;
    padding: 0 40px 0 0;
}

.group {
    font-size: 12px;
}

#wrapper .group .price {
    margin-bottom: 10px;
    background: url(images/gb_bg.png);
}

#wrapper .group label {
    display: inline-block;
    width: 80px;
}

.group .price b {
    font-size: 30px;
    color: #ff6700;
}

.group .price .discount {
    vertical-align: -6px;
    *vertical-align: 13px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 62px;
    height: 18px;
    background: url(images/ydetails.png) left top no-repeat;
    line-height: 18px;
    color: #FFF;
    text-indent: 18px;
    margin-bottom: 3px;
    margin-right: 18px;
    margin-left: 12px;
}

.group .price .discount del {
    color: #666;
}

.gb-tabs {}

.gb-tabs .hd {
    list-style: none;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e0e0e0;
}

.gb-tabs .hd li {
    float: left;
    cursor: pointer;
    padding: 0 40px;
}

.gb-tabs .hd li.on {
    color: #ff6700;
    border-top: 2px solid #ff6700;
    line-height: 47px;
}

.gb-tabs .bd {
    min-height: 300px;
}

.gb-tabs .bd .item {
    padding: 20px;
}

.gb-tabs .bd .item.detail {
    text-align: center;
}